<table border="0"
	style="height: 106px; width: 100%; border-collapse: collapse; border-style: hidden; margin-left: auto; margin-right: auto;">
	<tbody>
		<tr style="height: 21px;">
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 7.11884%; height: 21px;">Ciao <%= firstname %>,</td>
			<td style="width: 27.1636%; height: 21px;"></td>
			<td style="width: 8.57461%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
		</tr>
		<tr style="height: 21px;">
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 7.11884%; height: 21px;"></td>
			<td style="width: 27.1636%; height: 21px;"></td>
			<td style="width: 8.57461%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
		</tr>
		<tr style="height: 22px;">
			<td style="width: 14.2857%; height: 22px;"></td>
			<td style="width: 14.2857%; height: 22px;"></td>
			<td style="width: 7.11884%; height: 22px;"></td>
			<td style="width: 27.1636%; height: 22px;">
				<u><a href="<%= url + verifyToken %> ">clicca qui</a></u> per verificare il tuo account
			</td>
			<td style="width: 8.57461%; height: 22px;"></td>
			<td style="width: 14.2857%; height: 22px;"></td>
			<td style="width: 14.2857%; height: 22px;"></td>
		</tr>
		<tr style="height: 21px;">
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 7.11884%; height: 21px;"></td>
			<td style="width: 27.1636%; height: 21px;"></td>
			<td style="width: 8.57461%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
		</tr>
		<tr style="height: 21px;">
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 7.11884%; height: 21px;"></td>
			<td style="width: 27.1636%; height: 21px;"></td>
			<td style="width: 8.57461%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
			<td style="width: 14.2857%; height: 21px;"></td>
		</tr>
	</tbody>
</table>